<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mobile Analytics</title>
	<meta charset="utf-8" >
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    {% load staticfiles %}
	
	<link rel="stylesheet" href="{% static 'webapp/css/style.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'webapp/css/formoid-solid-green.css' %}" type="text/css" />
	
	<link rel="stylesheet" href="{% static 'webapp/css/newstyle.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'webapp/css/sidestyle.css' %}" type="text/css" />
</head>
<body class="body" >
	
        {% block content %}
        {% endblock %}	
      
    
    
        
    </body>
    <footer>
            
            <div class="container-fluid" style='margin-left:15px'>
                <p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn1</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
            </div>
    </footer>	
    </html>
    