.dashboard-icons{
    width:100%;
    border-radius: 2px;
    height:150px;
    background:#476589;
    box-shadow: -5px 5px 5px 5px #555;
}
.dashboard-icon-rows{
  /* padding:10px; */

  padding-top:  50px;
  /* my changes */
  padding:10px;

}
.dashboard-icons:hover{
  background:#4c7c9a;

}

.icon_padding{
  /* padding:32px 0px 0px 210px; */
  opacity: 0.2;
  color:white;
  /* My Changes */
  /* padding: 5px 0px 0px 125px; */

}
.pat, .staff, .inventory{
  font-size: 1.2rem;
  opacity: 0.5;
  color:white;
}
.pat{
    /* padding: 0px 0px 0px 50px; */

}
.inventory{
    /* padding: 0px 0px 0px 50px; */

}
.staff{
    /* padding: 0px 0px 0px 50px; */

}

.subdashboard-icon{
    top:35px;

}
.card-counter{
box-shadow: 2px 2px 10px #DADADA;
margin: 5px;
padding: 24px 17px;
background-color: #fff;
height: 120px;
border-radius: 5px;
transition: .3s linear all;
}

.card-counter:hover{
box-shadow: 4px 4px 20px #DADADA;
transition: .3s linear all;
}

.card-counter.primary{
background-color: #007bff;
color: #FFF;
/* mychanges */
width:100%;
box-shadow: -5px 5px 5px #007bff85;

}

.card-counter.danger{
background-color: #ef5350;
color: #FFF;
width:100%;
box-shadow: -5px 5px 5px #ef5350a8;

}  

.card-counter.success{
background-color: #66bb6a;
color: #FFF;
width:100%;
box-shadow: -5px 5px 5px #66bb6aa8;


}  

.card-counter.info{
background-color: #26c6da;
color: #FFF;
width:100%;
box-shadow: -5px 5px 5px #26c5daa2;

}  

.card-counter i{
font-size: 4em;
opacity: 0.2;
}

.card-counter .counter-count{
position: absolute;
/* right: 35px; */
top: 20px;
/* font-size: 32px; */
/* myChanges */
right: 18px;
font-size: 1.2rem;


display: block;
}

.card-counter .count-name{
position: absolute;
/* right: 35px; */
/* top: 65px; */
font-style: italic;
text-transform: capitalize;
opacity: 0.5;
display: block;
/* font-size: 18px; */
/* mychanges */
top: 85px;
font-size: 0.6rem;
right: 20px;



}
.center_h_tag_forms{
  text-align:center;
  font-family:Arial;
  font-weight: 900;
  font-size: 38px !important;
  text-shadow: 2px 2px 0px #9a0000;
  color:#f7bbbb;
}