.table_row{
    padding-bottom:20px;
    font-size: 12px;
}
.t1{
    padding-top:20px;
}
.label_text{
    text-align: center;
    font-weight: 600;
    padding-left: 130px;
    width: 330px;
}
.heading_mid{
    padding-left: 100px;
    padding-top: 25px;
}
.tabletitle{
    background-color: transparent;
}
