.datatable_roomward{

}

.datatable_roomward td, .datatable_roomward th {
  border: 1px solid #ddd;
  padding: 8px;
}
.datatable_roomward tr:nth-child(even){background-color: #f2f2f2;}

.datatable_roomward  tr:hover {background-color: rgba(119, 5, 5, 0.342);}
.datatable_roomward th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(119, 5, 5);
  color: white;
}