.datatable_roomward{

}

.datatable_roomward td, .datatable_roomward th {
  border: 1px solid #ddd;
  padding: 8px;
}
.datatable_roomward tr:nth-child(even){background-color: #f2f2f2;}

.datatable_roomward  tr:hover {background-color: rgba(119, 5, 5, 0.342);}
.datatable_roomward th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(119, 5, 5);
  color: white;
}
.genformdiv2_roomward_table{
  padding: 10px;
  background: #877a92;
  border-radius: 10px 10px 10px 10px;
  box-shadow: -5px 5px 5px;
  margin-top: 10px;
  margin-left:0px;
  margin-right:0px;

} 
