@media print{

    #row_surgery_bill{
    page-break-before: always !important;
    }
}



#row_surgery_bill, #row_procedure_bill, #row_pres_bill, #row_disp_bill, #row_room_bill, #row_ward_bill, #total_amount_div{
    background-color: #a79c9c1a;
    /* border: 1px solid; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}
#pat_details_div{
    font-size: large;
    margin-top: 30px;
    margin-bottom: 20px;
}
.custom_input_css{
    font-size: inherit !important;
}