{% extends "rmcapp/staff_dashboard_template/attendance_base.html" %}
{% block content %}
{%load static from staticfiles%}
    <main class="page-content" id="main_page_content">
        <div > <h1 class='heading_att'>LOAD RAW ATTENDACE FILES</h1></div>
        <div class='row' id='row_upload_rawattfiles' style='padding-top:10px;'>
            <div class='col-md-12'>
    
                <button type="button" class="btn btn-success js-upload-photos"> 
                    Upload Files
                </button>
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <input id="fileupload_rawatt" 
                    type="file"
                    name="file" multiple style="display: none;"
                    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' >
                    
                <table id='raw_attfiles_upload_table' class='datatable_upload_att_file' width='100%' >
                    <thead>
                        <tr>
                            
                            <th>File Name</th>
                            <th>Size</th>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Uploaded_By</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for file in raw_file_list%}
                            <tr>
                              
                                <td>
                                    {{file.file_name}}
                                </td>
                                <td>
                                    {{file.size}} KB
                                </td>
                                <td>
                                    {{file.month}}
                                </td>
                                <td>
                                    {{file.year}}
                                </td>
                                 <td>
                                    {{file.uploaded_by.name}}
                                </td>
                                <td>
                                    <button id='{{file.file_name}}' class='btn btn-danger delete'  onclick='deleteRawAttFiles($(this))'>Delete</button>
                                </td>

                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
                    
    
            </div>
        </div>
                
    </main>

{%endblock%}
{% block javascript %}
    
    <script src="{% static 'rmcapp/mainhomepage_static/js/fileuploadfiles/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'rmcapp/mainhomepage_static/js/fileuploadfiles/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'rmcapp/mainhomepage_static/js/fileuploadfiles/jquery.fileupload.js' %}"></script>
    <script src="{% static 'rmcapp/mainhomepage_static/js/StaffmanagementJS/loadrawfiles.js' %}"></script>
{% endblock %}