.no-padding{
    padding-right: 0px !important;
    padding-left:0px !important;
}
.backgroundcss_medToInv{
    /* background:  !important; */
}
.custom_hr{
    height: 1px;
color: blue;
background-color: red;
border: none;
}
.custom_input_css{
    width: inherit;
}
.custom_label_css{
    font-size: small;
}
.despstorage_second_col_div{

}
.despstorage_second_col_div_three_rows{
    padding-bottom: 30px;
}